{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript">
<!--

//-->
	$(function(){
		$('#submitform').click(function(evt) {
		    evt.preventDefault();
		    $('#formlogin').submit();
		});
	});
</script>
  
  
  <h2>Login</h2>
  <div class="row">
  <div class="small-6 small-centered columns">
  <form id="formlogin" action="{{ url_for('login') }}" method=post>
  <fieldset class="myfieldset">
    <dl>
      <dt>Username:
      <dd><input type=text data-tooltip aria-haspopup="true" class="login has-tip" title="Please enter your username" name="username" />
      <dt>Password:
      <dd><input type=password data-tooltip aria-haspopup="true" class="login has-tip" title="Please enter your password" name="password" />
      <dd><a id="submitform" href="#" class="button">Login</a>
      
    </dl>
  </fieldset>
  </form>
  </div>
  </div>
  
{% endblock %}