/* app css stylesheet */

/* Main container */
div.main {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-brand img {
	position: relative;
	top: -7px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.col-centered {
    float: none;
    margin: 0 auto;
    display: center;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#version {
    margin: auto;
    width: 120px;
}

#pokemonList {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.pokemonTile {
    width: 300px;
    height: 250px;
    outline: 1px solid;
    float: left;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.pokemonTile .score-iv, .pokemonTile .score-cp {
	font-size: 1.5em;
	font-family: fantasy;
	letter-spacing: 2px;
} 

div.bottom-tile {
	display: inline-block;
}

.pokemonTile > div {
    margin-left: 5px;
}

.pokemonTile img {
	height: 100px;
	float: left;
}

.error {
    color: red;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Test */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}