<div class="form-control">
    <p>Login option:</p>
    <select ng-model="loginType">
        <option value="">Choose one</option>
        <option value="PTC">PTC</option>
        <option value="Google">Google</option>
    </select>

    <div ng-switch="loginType">
        <form name="loginForm" ng-switch-when="PTC">
            Name: <input type="text" ng-model="user.name"/><br/>
            Password: <input type="password" ng-model="user.password"/>
            <input ng-disabled="loading" type="submit" ng-click="update(user)" value="Login"/>
            <p ng-show="loading">LOADING..</p>
        </form>

        <form name="loginForm" ng-switch-when="Google">
            E-mail: <input type="email" ng-model="user.email"/><br/>
            Password: <input type="password" ng-model="user.password"/>
            <input ng-disabled="loading" type="submit" ng-click="update(user)" value="Login"/>
            <p ng-show="loading">LOADING..</p>
        </form>
    </div>
    <br />
</div>