<script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
</script>

<div>
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + alert.type" close="closeAlert($index)">{{alert.msg}}</div>
    <div class="row">
	    <select class="form-control" ng-model="loginType">
	        <option value="">Login option</option>
	        <option value="PTC">PTC</option>
	        <option value="Google">Google</option>
	    </select>
    </div>
    <div class="row">
	    <div ng-switch="loginType">
	        <form name="loginForm" ng-switch-when="PTC">
	            <div class="left-inner-addon top5">
	            
	                <i class="glyphicon glyphicon-user" id="username"></i>
	                <input aria-describedby="username" placeholder="Username" class="form-control top5" type="text" ng-model="user.name"/>
	            </div>
	            <div class="left-inner-addon">
	                <i class="glyphicon glyphicon-lock" id="ptc-password"></i>
	                <input aria-describedby="ptc-password" placeholder="Password" class="form-control top5" type="password" ng-model="user.password"/>
	            </div>
	            <button class="form-control btn btn-primary top5" ng-disabled="loading" type="button" ng-click="update(user)">Login</button>
	            <p ng-show="loading">LOADING..</p>
	        </form>
	
	        <form name="loginForm" ng-switch-when="Google">
	            <div class="left-inner-addon">
	                <i class="glyphicon glyphicon-envelope" id="email"></i>
	                <input aria-describedby="email" placeholder="Email" class="form-control top5" type="email" ng-model="user.email"/>
	            </div>
	            <div class="left-inner-addon">
	                <i class="glyphicon glyphicon-lock" id="google-password"></i>
	                <input aria-describedby="google-password" placeholder="Password" class="form-control top5" type="password" ng-model="user.password"/>
	            </div>
	            <button class="form-control btn btn-primary top5" ng-disabled="loading" type="button"  ng-click="update(user)">Login</button>
	            <p ng-show="loading">LOADING..</p>
	        </form>
	    </div>
    </div> 
</div>