<div class="row">
    <div class="col-lg-12">
        <select class="form-control" ng-model="sortBy">
            <option value="">IV score</option>
            <option value="-cp">CP</option>
            <option value="pokemon_name">name</option>
            <option value="-individual_defense">defence</option>
            <option value="-individual_attack">attack</option>
            <option value="-individual_stamina">stamina</option>
            <option value="-creation_time_ms">date catched</option>
            <option value="-move_1_dps">Move 1 DPS</option>
            <option value="-move_2_dps">Move 2 DPS</option>
            <option value="-stamina">HP</option>
        </select>
    </div>
</div><!-- End row -->

<div class="row">
    <div class="col-lg-2 top10">
        <input class="name-filter form-control" type="search" ng-model="q" placeholder="filter pokemon..."
               aria-label="filter on name"/>
    </div>

    <div class="col-lg-2 top10">
        <button class="btn btn-primary" type="button" ng-click="updateList()">refresh</button>
    </div>
</div><!-- End row -->


<div class="row">
    <div class="col-lg-12" id="pokemonList">
        <div class="pokemonTile" ng-repeat="pokemon in pokemonList | orderBy: sortBy | filter: q">
            <div class="row">
                <div class="col-lg-6 top10" >
                    <img ng-src="http://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{pokemon.image_nr}}.png"/>
                </div>
                <div class="col-lg-6 pull-left top10">
                    <div class="score-iv">IV: {{pokemon.IV}}</div>
                    <div class="score-cp">CP: {{pokemon.cp}}</div>
                    <div class="score-cp">HP: {{pokemon.stamina}}/{{pokemon.stamina_max}}</div>
                </div>
                </div>
                <div class="bottom-tile">
                    Pokemon: {{pokemon.pokemon_name}} ({{pokemon.types.join()}})<br/>
                    Date Catched: {{pokemon.creation_time_ms | date:'dd-MM-yyyy h:m:s'}} <br/>
                    <a ng-class="{'red-bold':pokemon.same_type_bonus_attack_1}" 
                       ng-click="openMoveDetails(pokemon.move_1)">
                       Move 1: {{pokemon.move_1_desc}} ({{pokemon.move_1_dps}}) </a><br/>
                    <a ng-class="{'red-bold':pokemon.same_type_bonus_attack_2}" 
                        ng-click="openMoveDetails(pokemon.move_2)">
                        Move 2: {{pokemon.move_2_desc}} ({{pokemon.move_2_dps}})</a><br/>
                </div>
                <div class="iv-bar">
                    <label class="progress-label">Attack</label>
                    <uib-progressbar title="attack" max="15" value="pokemon.individual_attack"
                                     type='danger'><span
                            style="color:white; white-space:nowrap;">{{pokemon.individual_attack}} / 15</span>
                    </uib-progressbar>
                </div>
                <div class="iv-bar">
                    <label class="progress-label">Defense</label>
                    <uib-progressbar title="defense" max="15" value="pokemon.individual_defense" type="success"><span
                            style="color:white; white-space:nowrap;">{{pokemon.individual_defense}} / 15</span>
                    </uib-progressbar>
                </div>
                <div class="iv-bar">
                    <label class="progress-label">Stamina</label>
                    <uib-progressbar title="stamina" max="15" value="pokemon.individual_stamina" type="info"><span
                            style="color:white; white-space:nowrap;">{{pokemon.individual_stamina}} / 15</span>
                    </uib-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>


</div> <!-- End row -->
